In [190]:
import pandas as pd

## Import Data

In [191]:
df = pd.read_csv(r"C:\Users\Varnosafety INT\Downloads\archive (14)\Total.csv")

C:\Users\Varnosafety INT\Documents\anaconda packs\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [192]:
df.head(5)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,Not Provided,326373.19,326373.19,2011

In [63]:
#!pip install tabulate

## Create Employee Function

In [193]:
from tabulate import tabulate

def employee_details(EmployeeName):
    # Filter employee(s) by partial, case-insensitive match
    details = df[df['EmployeeName'].str.contains(EmployeeName, case=False, na=False)]

    # Return formatted table if results exist
    if not details.empty:
        return tabulate(details, headers='keys', tablefmt='fancy_grid', showindex=False)
    else:
        return f"No records found for employee: {EmployeeName}"

In [194]:
print(employee_details("ALBERT PARDINI"))

╒════════════════╤═════════════════════════════════╤═══════════╤═══════════════╤════════════╤══════════════╤════════════╤════════════════════╤════════╕
│ EmployeeName   │ JobTitle                        │   BasePay │   OvertimePay │   OtherPay │ Benefits     │   TotalPay │   TotalPayBenefits │   Year │
╞════════════════╪═════════════════════════════════╪═══════════╪═══════════════╪════════════╪══════════════╪════════════╪════════════════════╪════════╡
│ ALBERT PARDINI │ CAPTAIN III (POLICE DEPARTMENT) │    212739 │        106088 │    16452.6 │ Not Provided │     335280 │             335280 │   2011 │
├────────────────┼─────────────────────────────────┼───────────┼───────────────┼────────────┼──────────────┼────────────┼────────────────────┼────────┤
│ Albert Pardini │ Captain 3                       │    196265 │             0 │    11404   │ 46326.21     │     207669 │             253995 │   2012 │
╘════════════════╧═════════════════════════════════╧═══════════╧═══════════════╧════════════╧══════════════╧════════════╧════════════════════╧════════╛

 ## Data Processing with Dictionary & Error Handling

In [195]:
salary_data = {}

for _, row in df.iterrows():
    name = row['EmployeeName']
    data = row.to_dict()

    # i Stored as a list in case of multiple records per employee
    if name in salary_data:
        salary_data[name].append(data)
    else:
        salary_data[name] = [data]

In [196]:
def get_employee_records(name):
   # Return all records for an employee by name (case-insensitive).
    
    for employee in salary_data:
        if employee.upper() == name.upper():
            return salary_data[employee]
    
    return f"No records found for employee: {name}"

In [197]:
def total_pay_by_year(year):
    """
    Calculates total pay for all employees in a given year.
    Handles missing or non-numeric 'TotalPay' values gracefully.
    """
    total = 0.0

    for records in salary_data.values():
        for record in records:
            try:
                # Check if record matches the specified year
                if int(record.get('Year', 0)) == year:
                    # Safely convert TotalPay to float and add to total
                    total += float(record.get('TotalPay', 0) or 0)
            except (ValueError, TypeError):
                # Skip record if conversion to float or int fails
                continue
            except Exception as e:
                print(f"Unexpected error: {e}")
                continue

    return round(total, 2)

In [199]:
print(tabulate(get_employee_records("GARY JIMENEZ")))

print("Total Pay in 2013:", total_pay_by_year(2013))

------------  -------------------------------  ------  ------  ------  ------------  ------  ------  ----
GARY JIMENEZ  CAPTAIN III (POLICE DEPARTMENT)  155966  245132  137811  Not Provided  538909  538909  2011
------------  -------------------------------  ------  ------  ------  ------------  ------  ------  ----
Total Pay in 2013: 2918655930.8

 ## Export Employee Details

In [202]:
import pandas as pd
from tabulate import tabulate

#pandas DataFrame 'df' containing employee data
def employee_details(EmployeeName):
    # Filter employee(s) by partial, case-insensitive match
    details = df[df['EmployeeName'].str.contains(EmployeeName, case=False, na=False)]

    #  export to CSV
    if not details.empty:
    
        csv_file_name = f"{EmployeeName}_details.csv"
        
        # Export to CSV
        details.to_csv(csv_file_name, index=False)

        print(f"Employee details have been saved to {csv_file_name}")
        return tabulate(details, headers='keys', tablefmt='fancy_grid', showindex=False)
    else:
        return f"No records found for employee: {EmployeeName}"


print(employee_details("ALBERT PARDINI"))

Employee details have been saved to ALBERT PARDINI_details.csv
╒════════════════╤═════════════════════════════════╤═══════════╤═══════════════╤════════════╤══════════════╤════════════╤════════════════════╤════════╕
│ EmployeeName   │ JobTitle                        │   BasePay │   OvertimePay │   OtherPay │ Benefits     │   TotalPay │   TotalPayBenefits │   Year │
╞════════════════╪═════════════════════════════════╪═══════════╪═══════════════╪════════════╪══════════════╪════════════╪════════════════════╪════════╡
│ ALBERT PARDINI │ CAPTAIN III (POLICE DEPARTMENT) │    212739 │        106088 │    16452.6 │ Not Provided │     335280 │             335280 │   2011 │
├────────────────┼─────────────────────────────────┼───────────┼───────────────┼────────────┼──────────────┼────────────┼────────────────────┼────────┤
│ Albert Pardini │ Captain 3                       │    196265 │             0 │    11404   │ 46326.21     │     207669 │             253995 │   2012 │
╘════════════════╧═════════════════════════════════╧═══════════╧═══════════════╧════════════╧══════════════╧════════════╧════════════════════╧════════╛